#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
ol{
  background-color: rgba(51, 59, 59, 0.151);
  padding: 0.3rem;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: rgba(196, 211, 211, 0.205);
  padding: 1rem;
}
li{
  text-decoration: none;
  margin-inline: 2px;
  padding-inline: 3px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.137);
}
button{
  margin: 15px;
}
a{
  color: inherit;text-decoration: none;
  background-color: rgba(75, 75, 75, 0.103);
}

@media screen and (max-width:500px){
  ul {
    flex-direction: column;
  }
  li{
    margin: 5px;
  }
}